/*{
	overflow: hidden;
}*/

.header-label {
	margin: 5px 0px 5px 5px;
	font-size: 50px;	
	
}

.header-logo {
	margin-right: 40px;
}


input.form-item {
	font-size: 22px;
	
	width: 106% !important;
	margin-left: -10px !important;
	background-color: #e9e9e9 !important;
	border-radius: 10px;
	box-shadow: inset 0px 0px 10px #0a0a0a;
}

textarea.form-item.ui-shadow-inset {
   font-size: 22px;
   height: 180px;
	background-color: #e9e9e9;
	box-shadow: inset 0px 0px 10px #0a0a0a;
	padding: 5px;
}

.msg-input-box-container {

	margin-top:12px;	
	
}

.key-input-box-container {
	
	margin-top:20px;
}

.submit-button-container {
	
	margin-top: 20px;
} 


.footerNav{
	display: block;
	width: 100%;
	padding-top:13px;
	height: 37px ;
	border-top: 1px #ffffff solid;
   border-bottom: 1px #ffffff solid;
   color: #dddddd;
}

div.container .column1, div.container .column2, div.container .column3 {
    float: left;
    width:33%;
    height: 50px;
    text-align:center;
}

div.container .column2{
  	border-left: 2px #555555 solid;
  	border-right: 2px #555555 solid;
}

